
/**
 * YUI 3.5.0 - reset.css (http://developer.yahoo.com/yui/3/cssreset/)
 * http://cssreset.com
 * Copyright 2012 Yahoo! Inc. All rights reserved.
 * http://yuilibrary.com/license/
 */
/*
	TODO will need to remove settings on HTML since we can't namespace it.
	TODO with the prefix, should I group by selector or property for weight savings?
*/
html{
	color:#000;
	background:#FFF;
}
/*
	TODO remove settings on BODY since we can't namespace it.
*/
/*
	TODO test putting a class on HEAD.
		- Fails on FF. 
*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,
img {
	border:0;
}
/*
	TODO think about hanlding inheritence differently, maybe letting IE6 fail a bit...
*/
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
	font-style:normal;
	font-weight:normal;
}
 
ol,
ul {
	list-style:none;
}
 
caption,
th {
	text-align:left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,
q:after {
	content:'';
}
abbr,
acronym {
	border:0;
	font-variant:normal;
}
/* to preserve line-height and selector appearance */
sup {
	vertical-align:text-top;
}
sub {
	vertical-align:text-bottom;
}
input,
textarea,
select {
	font-family:inherit;
	font-size:inherit;
	font-weight:inherit;
}
/*to enable resizing for IE*/
input,
textarea,
select {
	*font-size:100%;
}
/*because legend doesn't inherit in IE */
legend {
	color:#000;
}
/* YUI CSS Detection Stamp */
#yui3-css-stamp.cssreset { display: none; }



/* Min kod */
html {
	
}

body {

}

#menu {
	overflow: auto;
	background-color: rgba(0,0,0, 1);
	position: absolute;
	position: fixed;
	border: 1px solid black;
	top: 0;
	left: 0;
}

#menu_top {
	/*margin-left: 40%; */ 
	/*margin-top: -16px;*/
}
#menu_top li {
	display: block;
	float: left;
	list-style: none;
}


#menu_top li a {
	display: inline-block;
	text-decoration: none;
	background-color: white;
	margin-right: 10px;
	background-color: rgba(0,0,0, 0.2);
	color: white;

}

#menu a:hover {
	background-color: blue;
}

.pages {
	overflow: auto;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover; 
	
	height: 100vh;
}

.pageBox {
	
}

.pageTextBox {
	/*
	text-align: center;
	margin-top: 25%;
	background-color: rgba(255,255,255,0.5);
	padding: 50px; 
	*/


	
}

#page0 {
	background-image: url(http://wakpaper.com/large/Laptops_wallpapers_168.jpg);
	/*color: rgba(255,255,255,0.8);*/
	color: white;
	font-size: 70px;
	font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace;
	text-shadow: 0px 2px 5px black;
	}


#page0 .pageBox {
	background-image: url(pic/logoTexture.jpg);
	box-shadow: 10px 10px 20px rgba(0,0,0,.5);
	padding-left: 20px;
	margin-top: 10%;
	background-color: rgba(64,64,64,.8);
	width: 80%;
}

#frontPic {
	position: absolute;
	top: 50%;
	right: 0;
	margin-right: 5px;

}

.frontPicClass {
	box-shadow: 5px 5px 2px rgba(0,0,0,.5);	
}

#page1 {
	background-image: url(http://wallpoper.com/images/00/36/63/48/point-alaska_00366348.jpg);
	color: rgba(255,255,255,0.8);
}

#page2 {
	background-image: url(http://wallpoper.com/images/00/44/60/48/alaskan-brown-bear-hallo-bay-alaska_00446048.jpg);
}

#page3 {
	background-image: url(http://wallpoper.com/images/00/41/34/23/alaska-grizzly_00413423.jpg);
	color: rgba(255,255,255,0.8);
}
#page4 {

	background-image: url(http://images4.alphacoders.com/258/258226.jpg);
	position: absolute; 
	width: 100%;
	right: -100%;
	top: 300%;
}
#page4 .pageTextBox {
	margin-top: 20%;
}
#form {
	margin: auto;
	border-color: rgba(0,0,0,.5);
	border-style: solid;
	width: 300px;
}
#footer {
	display: none;
	text-align: center;
	background-color: rgba(0,0,0,.9);
	color: rgba(255,255,255,0.6);
}

/* Hide scrollbar */
::-webkit-scrollbar { 
    display: none; 
}