
/**
 * YUI 3.5.0 - reset.css (http://developer.yahoo.com/yui/3/cssreset/)
 * http://cssreset.com
 * Copyright 2012 Yahoo! Inc. All rights reserved.
 * http://yuilibrary.com/license/
 */
/*
	TODO will need to remove settings on HTML since we can't namespace it.
	TODO with the prefix, should I group by selector or property for weight savings?
*/
html{
	color:#000;
	background:#FFF;
}
/*
	TODO remove settings on BODY since we can't namespace it.
*/
/*
	TODO test putting a class on HEAD.
		- Fails on FF. 
*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,
img {
	border:0;
}
/*
	TODO think about hanlding inheritence differently, maybe letting IE6 fail a bit...
*/
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
	font-style:normal;
	font-weight:normal;
}
 
ol,
ul {
	list-style:none;
}
 
caption,
th {
	text-align:left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,
q:after {
	content:'';
}
abbr,
acronym {
	border:0;
	font-variant:normal;
}
/* to preserve line-height and selector appearance */
sup {
	vertical-align:text-top;
}
sub {
	vertical-align:text-bottom;
}
input,
textarea,
select {
	font-family:inherit;
	font-size:inherit;
	font-weight:inherit;
}
/*to enable resizing for IE*/
input,
textarea,
select {
	*font-size:100%;
}
/*because legend doesn't inherit in IE */
legend {
	color:#000;
}
/* YUI CSS Detection Stamp */
#yui3-css-stamp.cssreset { display: none; }



/* Min kod */
html {
	
}


body {
	overflow: hidden;
	height: 100%;
	width: 100%;
}


#content {
	width: 100%;
	height: 100%;
	left: 0;
	overflow-x: hidden;
	overflow-y: auto;
	position: absolute;
	z-index: 50;
}

#menu {
	overflow: auto;
	width: 100%;
	background-color: rgba(0,0,0, 0);
	position: absolute;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}

#menu_top {
	display: block;
	margin-left: 40%;
}

#menu_top li {
	display: block;
	float: left;
	list-style: none;
}


#menu_top li a {
	padding: 0 5px 0 5px;
	display: inline-block;
	text-decoration: none;
	background-color: white;
	margin-right: 20px;
	background-color: rgba(0,0,0, 0.6);
	color: white;
	border: 1px solid black;
}

#menu a:hover {
	background-color: blue;
}

.pages {
	overflow: auto;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover; 
	height: 100vh;
}

.pageTextBox {
	background-color: rgba(255,255,255,.7);
	color: rgba(0,0,0,.8);
}

.pageTextBox h1{
	text-align: center;
	/*margin-top: 25%;
	background-color: rgba(255,255,255,0.5);
	padding: 50px; 
	*/
}

#page0 {
	background-image: url(pic/bk0.jpg);
	/*color: rgba(255,255,255,0.8);*/
	color: white;
	font-size: 70px;
	font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace;
	text-shadow: 0px 2px 5px black;
	}


#page0 .pageBox {
	background-image: url(pic/logoTexture.jpg);
	box-shadow: 10px 10px 20px rgba(0,0,0,.5);
	padding-left: 20px;
	margin-top: 10%;
	background-color: rgba(64,64,64,.8);
	width: 80%;
}


#frontPic {
	position: absolute;
	top: 50%;
	right: 0;
	margin-right: 5px;
}

.frontPicClass {
	box-shadow: 5px 5px 2px rgba(0,0,0,.5);	
}

.frontPicClass:hover {
	-webkit-filter: grayscale(80%);
}

#bkrImg0 {
	background-image: url(pic/bk0Mini.jpg);
	/*box-shadow:inset -5px -5px 0px 0px red;	*/
}

#page1 {
	background-image: url(http://wallpoper.com/images/00/36/63/48/point-alaska_00366348.jpg);
	color: rgba(255,255,255,0.8);
}

#page1TextBox {
	margin-top: 4%;
	width: 50%;
	padding: 40px 40px 40px 150px;
	border-top: 2px solid rgba(0,0,0,.4);
	border-right: 2px solid rgba(0,0,0,.4);
	border-bottom: 2px solid rgba(0,0,0,.4);
	box-shadow: 5px 5px 8px rgba(0,0,0,.6);
}

#page2 {
	background-image: url(http://wallpoper.com/images/00/44/60/48/alaskan-brown-bear-hallo-bay-alaska_00446048.jpg);
}

#page2TextBox {
	margin-top: 10%;
	width: 33%;
	padding: 20px;
	float: right;
	border-top: 2px solid rgba(0,0,0,.4);
	border-left: 2px solid rgba(0,0,0,.4);
	border-bottom: 2px solid rgba(0,0,0,.4);
	box-shadow: -5px 5px 8px rgba(0,0,0,.6);
}

#page3 {
	background-image: url(http://wallpoper.com/images/00/41/34/23/alaska-grizzly_00413423.jpg);
	color: rgba(255,255,255,0.8);
}

#page3TextBox {
	margin-top: 5%;
	width: 30%;
	padding: 20px;
	border-top: 2px solid rgba(0,0,0,.4);
	border-right: 2px solid rgba(0,0,0,.4);
	border-bottom: 2px solid rgba(0,0,0,.4);
	box-shadow: 5px 5px 8px rgba(0,0,0,.6);
}

#page4 {
	background-image: url(pic/cloud2.jpg);
	height: 100vh;
	position: absolute;
	width: 100%;
	left: 100%;
	top: 0px;
}

#page4 .pageTextBox {
	margin-top: 20%;
}

#form {
	margin: auto;
	border-color: rgba(0,0,0,.5);
	border-style: solid;
	width: 300px;
}

#footer {
	display: none;
	text-align: center;
	background-color: rgba(0,0,0,.9);
	color: rgba(255,255,255,0.6);
}

/* Hide scrollbar */
::-webkit-scrollbar { 
    display: none; 
}

#page5 {
	background-image: url(pic/cloud2.jpg);
	height: 100vh;
	position: absolute;
	width: 100%;
	left: -100%;
	
}