
/**
 * YUI 3.5.0 - reset.css (http://developer.yahoo.com/yui/3/cssreset/)
 * http://cssreset.com
 * Copyright 2012 Yahoo! Inc. All rights reserved.
 * http://yuilibrary.com/license/
 */
/*
	TODO will need to remove settings on HTML since we can't namespace it.
	TODO with the prefix, should I group by selector or property for weight savings?
*/
html{
	color:#000;
	background:#FFF;
}
/*
	TODO remove settings on BODY since we can't namespace it.
*/
/*
	TODO test putting a class on HEAD.
		- Fails on FF. 
*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,
img {
	border:0;
}
/*
	TODO think about hanlding inheritence differently, maybe letting IE6 fail a bit...
*/
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
	font-style:normal;
	font-weight:normal;
}
 
ol,
ul {
	list-style:none;
}
 
caption,
th {
	text-align:left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,
q:after {
	content:'';
}
abbr,
acronym {
	border:0;
	font-variant:normal;
}
/* to preserve line-height and selector appearance */
sup {
	vertical-align:text-top;
}
sub {
	vertical-align:text-bottom;
}
input,
textarea,
select {
	font-family:inherit;
	font-size:inherit;
	font-weight:inherit;
}
/*to enable resizing for IE*/
input,
textarea,
select {
	*font-size:100%;
}
/*because legend doesn't inherit in IE */
legend {
	color:#000;
}
/* YUI CSS Detection Stamp */
#yui3-css-stamp.cssreset { display: none; }



/* Min kod */
p {
	font-family: Cambria, Georgia, serif;
	margin-bottom: 20px;
}

h1 {
	font-family: Cambria, Georgia, serif;
}

h2 {
	font-family: Cambria, Georgia, serif;
	font-size: 20px;
}

body {
	overflow: hidden;
	height: 100%;
	width: 100%;
}

#content {
	width: 100%;
	height: 100%;
	left: 0;
	overflow-x: hidden;
	overflow-y: auto;
	position: absolute;
	z-index: 50;
}

#menu {
	overflow: auto;
	width: 100%;
	background-color: rgba(0,0,0, 0);
	position: absolute;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}
#menu2 {
	
}

#menu3 {
	margin-top: 3px;
	margin-left: -15px;
}

#menu4 {
	margin-left: -15px;
}

#menu5 {
	margin-left: -15px;
}
#menu_top {
	display: block;
	margin-left: 35.25%;
}

#menu_top li {
	display: block;
	float: left;
	list-style: none;
}

#menu_top li a {
	display: inline-block;
	margin-right: -5px;
}

.pages {
	overflow: auto;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover; 
	height: 100%;
}

.pageTextBox {
	background-color: rgba(255,255,255,.7);
	color: rgba(0,0,0,.8);
}

.pageTextBox h1{
	text-align: center;
}

#page0 {
	background-image: url(pic/home.jpg);
	}

#page0TextBox {
	background-color: rgba(255,255,255, 0.7);
	width: 40%;
	float: left;
	margin-top: 3%;
	margin-left: 31%;
	padding: 50px;
	border: 1px solid rgba(0,0,0,0.4);
	box-shadow: 10px 10px 20px rgba(0,0,0,.5);
}

#page0TextBox h1 {
	text-align: center;
	font-size: 24px;
	margin-bottom: 30px;
}

#logoText {
	float: left;
	margin-top: 5%;
	margin-left: -2%;
}

#alberta {
	width: 65%;
	height: auto;
}

#logo {
	float: left;
	margin-top: -5%;
	margin-left: 66%;
}

#sign {
	float: right;
	width: 200px;
	height: auto;
	margin-top: -8%;
}

#frontPic {
	position: absolute;
	top: 112%;
	right: 0;
	margin-right: 15px;
}

.frontPicClass {
	box-shadow: 5px 5px 2px rgba(0,0,0,.5);	
	margin-bottom: 10px;
}

.frontPicClass:hover {
	-webkit-filter: grayscale(80%);
}

#bkrImg0 {
	background-image: url(pic/bk0Mini.jpg);
	/*box-shadow:inset -5px -5px 0px 0px red;	*/
}

#page1 {
	background-image: url(pic/bk0.jpg);
	color: rgba(255,255,255,0.8);
}

#page2 {
	background-image: url(pic/adventure.jpg);
}

#hiking {
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	float: left;
	background-color: rgba(255,255,255, 0.7);
	margin-left: 5%;
	margin-top: 8%;
	border: 1px solid rgba(0,0,0,0.4);
	box-shadow: 10px 10px 20px rgba(0,0,0,.5);
}

#hikingText {
	padding-bottom: 10px;
	padding-top: 10px;
}

#hikingPic {
	margin: 0px;
	padding: 0px;
	height: 300px;
}

#wildlife {
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	float: right;
	margin-right: 5%;
	margin-top: 8%;
	background-color: rgba(255,255,255, 0.7);
	border: 1px solid rgba(0,0,0,0.4);
	box-shadow: 10px 10px 20px rgba(0,0,0,.5);
}

#wildlifeText {
	padding-bottom: 10px;
	padding-top: 10px;
}

#wildlifePic {
	height: 300px;
}

#canoe {
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	float: left;
	margin-left: 5%;
	margin-top: 5%;
	background-color: rgba(255,255,255, 0.7);
	border: 1px solid rgba(0,0,0,0.4);
	box-shadow: 10px 10px 20px rgba(0,0,0,.5);
}

#canoeText {
	padding-bottom: 10px;
	padding-top: 10px;
}

#canoePic {
	height: 300px;
}

#rafting {
	float: right;
	margin-right: 5%;
	margin-top: 5%;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	background-color: rgba(255,255,255, 0.7);
	border: 1px solid rgba(0,0,0,0.4);
	box-shadow: 10px 10px 20px rgba(0,0,0,.5);
}

#raftingText {
	padding-bottom: 10px;
	padding-top: 10px;
}

#raftingPic {
	height: 300px;
}

#page3 {
	background-image: url(pic/contact.jpg);
	color: rgba(255,255,255,0.8);
}

#page3TextBox {
	margin: auto;
	margin-top: 20%;
	width: 50%;
	padding: 20px;
	border: 1px solid rgba(0,0,0,.4);
	border-right: 2px solid rgba(0,0,0,.4);
	border-bottom: 2px solid rgba(0,0,0,.4);
	box-shadow: 5px 5px 8px rgba(0,0,0,.6);
}

#page3TextBox h1 {
	font-size: 24px;
	color: black;
	margin-bottom: 10px;
} 

#page3TextBox p {
	font-size: 18px;
	color: black;
}

#pencil {
	width: 10%;
	height: auto;
	float: right;
}

#social {
	display: block;
	margin-left: 40.5%;
	margin-top: 20px;
}

#facebook {
	width: 10%;
	height: auto;
}

#twitter {
	width: 10%;
	height: auto;
}

#instagram {
	width: 10%;
	height: auto;
}

#page4 {
	background-image: url(pic/contactleft.jpg);
	height: 100vh;
	position: absolute;
	width: 100%;
	left: 100%;
	top: 0px;
}

#page4Box {
	background-color: rgba(255,255,255, .7);
	margin: auto;
	margin-top: 20%;
	width: 600px;
	padding: 30px;
	border: 1px solid rgba(0,0,0,.4);
	box-shadow: 5px 5px 8px rgba(0,0,0,.6);
}

#page4Box h1 {
	text-align: center;
	font-size: 24px;
	margin-bottom: 20px;
}

#arrow {
	float: left;
	width: 30%;
	height: auto;
	margin-top: -65%;
	margin-left: -35%
}

#page4 .pageTextBox {
	margin-top: 20%;
}

#page5 {
	background-image: url(pic/about.jpg);
}

#page5TextBox {
	background-color: rgba(255,255,255, 0.7);
	overflow: auto;
	margin: auto;
	margin-top: 10%;
	width: 80%;
	height: 80%;
	padding: 20px;
	border: 1px solid rgba(0,0,0,0.4);
	box-shadow: 5px 5px 8px rgba(0,0,0,.6);
}

#page5TextBox h1 {
	font-size: 30px;
	margin-bottom: 20px;
	text-align: left;
}

#page5TextBox p {
	font-size: 18px;
}

#aboutText {
	float: right;
}

#familyPicId {
	display: block;
	width: 75%;
	height: auto;
	margin-right: 22px;
	float: left;
}

#granpaPicId {
	width: 23%;
	height: auto;
	margin-right: -10%
}

#form {
	font-family: Cambria, Georgia, serif;
	margin: auto;
	border-color: rgba(0,0,0,.5);
	border-style: solid;
	width: 400px;
	padding: 20px;
}

#rubrik {
	margin-bottom: 10px;
}

#fraga {
	margin-bottom: 20px;
}

#footer {
	display: none;
	text-align: center;
	background-color: rgba(0,0,0,.9);
	color: rgba(255,255,255,0.6);
}

/* Hide scrollbar */
::-webkit-scrollbar { 
    display: none; 
}